{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
  <h1 class="entry-title">{{ page.title }}</h1>
  {{ page.content }}
  <div id='mappa'>
    <iframe width="850" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=corso+roma+204%2Fb+foggia&amp;aq=&amp;sll=41.442726,12.392578&amp;sspn=21.251949,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Corso+Roma,+204,+71121+Foggia,+Puglia&amp;t=m&amp;ll=41.461447,15.549431&amp;spn=0.030874,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
    <small><a href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=corso+roma+204%2Fb+foggia&amp;aq=&amp;sll=41.442726,12.392578&amp;sspn=21.251949,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Corso+Roma,+204,+71121+Foggia,+Puglia&amp;t=m&amp;ll=41.461447,15.549431&amp;spn=0.030874,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a></small>
  </div>
{% endblock %}