{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  <h1>Benvenuto</h1>
  <div class="entry-content" style="font-size: 18px">
    <p>Hai avuto un incidente stradale?</p>
    <p>Hai litigato col tuo amministratore di condominio e vuoi sapere se hai ragione oppure torto?</p>
    <p>Vuoi sapere se hai diritto o no a vedere i tuoi figli in regime di separazione legale?</p>
    <p>Vuoi sapere come&nbsp; redigere una querela o come difenderti con le giuste armi legali nell’ipotesi che tu sia stato ingiustamente querelato?</p>
    <p>Vuoi dei chiarimenti che ti interessano da vicino riguardanti&nbsp; la sfera penale?</p>
    <p>Vuoi sapere se sei in tempo a recuperare una somma di denaro relativa ad un tuo credito?</p>
    <p><strong>Per qualsiasi dubbio o consulto legale, affidati a me, serio professionista esperto nel settore legale. Non te ne pentirai!</strong></p>
  </div>
  <a href="/pagine/contatti/">
    <img src="/theme/images/homepage.png">
  </a><br/>
{% endblock content %}